/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/*@import '../../vendor/bootstrap/less/variables.less';*/
@import '../assets/css/flatly/variables.less';

/**
 * Typography-related.
 */

/*@sansFontFamily: 'Roboto', sans-serif;*/
/*body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'TypoPRO Ostrich Sans Inline';
}*/

/*.container.row {*/
	/*h2 {
		font-family: 'TypoPRO Ostrich Sans';
	}*/
/*}*/

@blueWhale: #42647F;
@deepochre: #733D1A;

@flatLightGreen: #6c6;
@flatLightYellow: #cc0;
@flatLightRed: #F66;
@mastheadBackgroundColor: #333;

.container.row h1, h2, h3, h4 {
	text-align: center;
}
strong {
	color: @flatLightRed;
}

@brand-primary: #000;
