<header id="headerDiv">

	<div  class="container" ng-style="style()" resizable style="">		
	<!--  -->
		<div class="row">
			<div class="masthead-inner-center">
				<!--  -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInDown">
					<img id="profile" src="assets/img/nii_large_profile.jpeg">
				</div>
				<!-- wow fadeInDown -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInDown">

					<h1>NII MANTE</h1>
					<h4>Full Stack Software Developer</h4>
					<h4 ng-repeat="descriptor in descriptors"><span>&#x2B22;</span> {{descriptor}} <span>&#x2B22;</span></h4>
					
            	</div>
            	<!-- wow fadeInDown -->
            	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
					<h4 id="socials">
						<span ng-repeat="social in socials">
							<!-- class="wow fadeInRight"  -->
							<a href="{{social.link}}" target="_blank">
								<i class="{{social.icon}}" id="{{social.name}}"></i>
							</a>
						</span>
					</h4>
            	</div>
			</div>
		</div>
	</div>
</header>

<div id="about">
	<div class="container">
		<strong><h2 ng-bind-html="aboutSection.title" class="strong"></h2></strong>
		<!-- <div class="line-separator"></div> -->
		<div ng-repeat="mRow in aboutSection.rows" ng-class="useRow">
			
			<div ng-repeat="mCol in mRow.cols" ng-class="(windowWidth >= 768 && windowWidth <= 991) ? 'row' : 'col-lg-{{bootstrapColumns/mRow.cols.length}} col-md-{{bootstrapColumns/mRow.cols.length}} col-sm-{{bootstrapColumns/mRow.cols.length}}'">
				<div ng-class="(windowWidth >= 768 && windowWidth <= 991) ? 'col-sm-1' : ''">
					<div class="card" style="visibility: hidden"></div>
				</div>
				<div ng-class="(windowWidth >= 768 && windowWidth <= 991) ? 'col-sm-10' : ''">
					<!-- wow fadeInRight -->
					<div class="card ">
						<h3 ng-bind-html="mCol.header"></h3>
						<div ng-repeat="mParagraph in mCol.paragraphs">
							<p ng-bind-html="mParagraph"></p>
						</div>
					</div>
				</div>
				<div ng-class="(windowWidth >= 768 && windowWidth <= 991) ? 'col-sm-1' : ''">
					<div class="card" style="visibility: hidden"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="code">
	<div class="container">
		<strong><h2 ng-bind-html="coderSection.title"></h2></strong>
		<!-- <div class="line-separator"></div> -->
		<div ng-repeat="mRow in coderSection.rows" class="row">
			<!-- {{bootstrapColumns/mRow.cols.length}} -->
			<div ng-repeat="mCol in mRow.cols" class="col-lg-{{mCol.width}} col-md-{{mCol.width}} col-sm-{{mCol.width}}">
				<!-- wow fadeInUp -->
				<div ng-class="(mCol.visibility == 'hidden') ? '' : 'card'" class="">
					<h3 ng-bind-html="mCol.header"></h3>
					<div ng-repeat="mParagraph in mCol.paragraphs">
						<p ng-bind-html="mParagraph"></p>
					</div>
				</div>
			</div>
		</div>
		<!-- <div id="canvasDiv" class="card">
			<canvas id="canvas">
			</canvas>
		</div> -->
	</div>
</div>

<div id="travel">
	<div class="container">
		<strong><h2 ng-bind-html="travelerSection.title"></h2></strong>
		<!-- <div class="line-separator"></div> -->
		<div ng-repeat="mRow in travelerSection.rows" class="row">
			<!-- {{bootstrapColumns/mRow.cols.length}} -->
			<div ng-repeat="mCol in mRow.cols" class="col-lg-{{mCol.width}} col-md-{{mCol.width}} col-sm-{{mCol.width}}">
				<!-- wow fadeInUp -->
				<div ng-class="(mCol.visibility == 'hidden') ? '' : 'card'" class="">
					<h3 ng-bind-html="mCol.header"></h3>
					<div ng-repeat="mParagraph in mCol.paragraphs">
						<p ng-bind-html="mParagraph"></p>
					</div>
				</div>

			</div>
		
		</div>
	</div>
</div>



