/* NAVBAR ICONS, ETC */
@mainBackgroundColor: #f0f0f0;
@mastheadBackgroundColor: #707C80;
@headerFontColor: #fff;

.fa.fa-user {
	color: @flatLightGreen;
}
.fa.fa-file-text {
	color: @flatLightYellow;
}

.fa.fa-code-fork {
	color: @flatLightRed;
}

.fa.fa-envelope {
	color: @deepochre;
}

#headerDiv {
	background:url("img/web_background_filterBW.png") no-repeat center center fixed; 
	background-size:cover; 
	width: 100%; height: auto; 
	
}
#headerDiv:after {
	background-image:linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.3) 100%);
}

.masthead-social{
	
	margin: 0px 50px 0px 50px;
	text-align: center;

	.masthead-social-inner {
		list-style: none;
		li {
	      margin-left: 5px;
	      padding: 0px auto;

	      a, a:visited {
	        
	        text-decoration: none;
	        font-size: 40px;
	        
	        #Github {
	          color: #36454F;
	        }

	        #Twitter {
	          color: #00aced;
	        }
	        #Linkedin {
	          color: #007bb6;
	        }

	        &:hover {
	          color: @gray;
	        }
	      }
	    }
	}
}

.container.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  @media screen and (max-width: 1024px) { /* Specific to this particular image */
  
    left: 50%;
    margin-left: -512px;   /* 50% */
  
  }
}



header {
	
	/*background: url(../assets/img/bright_squares_interlaced.png) 0 -204px repeat;*/
	background-color: @mastheadBackgroundColor;
	z-index: -1;
	/*width: 100%;*/
	
	/* Adjust profile picture size based on window size */
	#profile {
		vertical-align: middle;
		width: 20%;
		height: 20%;
		border: 2px solid;
		border-radius: 50%;
		border-color: #a0a0a0;
		/*box-shadow: -1px 1px 5px #000;*/

		@media only screen and (min-width: 469px) and (max-width: 767px){
			width: 20%;
			height: 20%;
		}
		@media only screen and (max-width: 468px){
			width: 20%;
			height: 20%;
		}
		@media only screen and (min-width: 768px) and (max-width: 850px){
			width: 20%;
			height: 20%;
		}		
		@media only screen and (min-width: 851px) and (max-width: 1199px) {
			width: 16%;
			height: 16%;
		}

		@media only screen and (min-width: 1200px){
			width: 15%;
			height: 15%;
		}
		
	}
}

@-webkit-keyframes "bgscroll" {
   from { background-position: 0 0; }
   to { background-position: -150px -300px; }
}@-o-keyframes "bgscroll" {
   from { background-position: 0 0; }
   to { background-position: -150px -300px; }
}@keyframes "bgscroll" {
   from { background-position: 0 0; }
   to { background-positio2n: -150px -300px; }
}


.masthead-inner-center {
	/*color: @blueWhale;*/
	color: @headerFontColor;
	text-align: center;
	padding: 80px 0;
	/*width: 100%;*/
	vertical-align:middle;
}

.dis {
	@media only screen and (max-width: 499px){
		
		visibility: hidden;
		
	}
}

/* FIRST/STUDENT SECTION */
#about {
	/*background-color: #e9e9f0;*/
	/*background-color: azure;*/
	background-color: @mainBackgroundColor;
	padding-bottom: 10px;
}


#code {
	background-color: @mainBackgroundColor - #050505;
	padding-bottom: 10px;
}

#travel{
	background-color: @mainBackgroundColor;
	padding-bottom: 10px;
}


.card {
	text-align: justify;
	margin: 5px;
	padding: 5px 25px 5px;
	border-radius: 4px;
	background-color: #fff;
	/*box-shadow: 1px 1px 3px #999;*/
	p {
		font-size: 16px;
	}

	/*Use this to fill create effect of hover */
	/*&:hover {
		box-shadow: 1px 1px 3px #333;
	}*/
}

.textSection {
	text-align: justify;
}


#canvasDiv{
	/*padding-left: auto;*/
	padding-right: auto;

}

/* HEX LANGUAGE PATTERN CSS */

.hex2 {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
}
.hex2 .left {
    float: left;
    width: 0;
    border-right: 30px solid #6C6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex2 .middle {
    float: left;
    width: 60px;
    height: 104px;
    background: #6C6;
}
.hex2 .right {
    float: left;
    width: 0;
    border-left: 30px solid #6C6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex2-row {
    clear: left;
}
.hex2.even {
    margin-top: 53px;
}


