#header {
	/*display: none;*/
}
#footer {
	/*display: none;*/
}
.bgr {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #333;;
	/*background: url(img/bg.jpg) no-repeat center center;*/
	background-size: cover;
	content: " ";
	/*-webkit-transition: -webkit-filter 1s, opacity 1s;
	-moz-transition: -moz-filter 1s, opacity 1s;
	-o-transition: filter 1s, opacity 1s;
	transition: -webkit-filter 1s,-moz-filter 1s,-o-filter 1s,filter 1s, opacity 1s;*/
	/*-webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;*/
  /*-webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);*/
}

